:root {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Disable the spinner arrows for type="number" inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield; /* Standard */
}

a {
  /* text-decoration: none; */
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.306);
  padding: 20px;
}
