:root {
  margin: 0;
  padding: 0;
  border: 0;
}

.card button {
  box-shadow: 0 2px 4px rgba(0, 0, 10, 0.8);
}

/* Disable the spinner arrows for type="number" inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield; /* Standard */
}

a {
  /* text-decoration: none; */
  color: black;
}

.policy {
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  background-image: url("/strawberry-field.jpg");
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/strawberry-field.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}

#root {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

footer {
  /* margin-top: 100px;
  position: absolute;
  bottom: 70; */
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(128, 128, 128, 0.906);
  padding: 20px;
}

.spacecover {
  flex-grow: 1;
}

input,
textarea,
select {
  font-size: 16px; /* Ensure the font size is at least 16px */
}
